<p>
    <%= f.label :selection, "Selection" %><br />
    <%= f.text_field :selection %>
</p>

<p>
    <%= f.label :sourceUri, "URL" %><br />
    <%= f.text_field :sourceUri %>
</p>

<p>
    <%= f.label :sourceTitle, "Source" %><br />
    <%= f.text_field :sourceTitle %>
</p>
