<h1>Editing clip</h1>

<%= error_messages_for :clip %>

<% form_for(@clip) do |f| %>
 
  <%= render  :partial => "form", :locals => {:f => f} %>
 
  <p>
    <%= submit_tag "Update" %>
  </p>
<% end %>

<p><%= link_to 'Show', clip_path(@clip) %> |
<%= link_to 'Back', clips_path %></p>