<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
 
    <title>clip'd</title>
	
	<%= javascript_include_tag 'jquery-1.2.6.min' %>
    <%= javascript_include_tag 'timeago' %>
    <%= javascript_include_tag 'application' %>

    <%= stylesheet_link_tag 'reset' %>
    <%= stylesheet_link_tag 'screen' %>

</head>

<body>

<div id="canvas">

    <%# while in alpha... %>
    <div id="beta-notice"><p>Clip'd Public Preview: Everything might not work, but feel free to poke around...</p></div>
    
	<% if flash[:notice] %>
	<div id="flash"><p><%= image_tag 'icons/info.png' %> <%= flash[:notice] %></p></div>
	<% end %>

<div id="content">	

	<%= yield  %>

</div>
	
<div id="footer">

<div id="footer-container">
    
<div id="footer-logo">
    <%= link_to image_tag('logo.png'), :action => 'index' %>
</div>

<div id="footer-info">
<em>free online clipping service</em><br />
get the bookmarklet: <a href="javascript:var%20q,e=encodeURIComponent;if%20(window.getSelection)%20q=window.getSelection();%20else%20if%20(document.selection)%20q=document.selection.createRange().text;if%20(q!=''){u=location.href;t=document.title;}else{q=prompt(%22Clip%20it:%22,%22%22);t='Manual%20Clip';u='none'};if%20(q)%20window.open('http://clipd.org/clips/create?u='+e(u)+'&s='+e(q)+'&t='+e(t));">clip it!</a>
</div>

<div id="footer-links">
<ul>
    <li>by <a href="http://banterability.com/">banterability</a></li>
    <li>updates at <a href="http://twitter.com/clipd/">twitter</a></li>
    <li>source at <a href="http://github.com/banterability/clipd/">github</a></li>
    <li>hosted by <a href="http://www.slicehost.com/">slicehost</a></li>
</ul>
</div>

<br style="clear:both" />

</div>

</div>

</div>
</body>
</html>