<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
 
  <title>clip'd: <%= controller.action_name %></title>

	<%= render :partial => 'includes' %>

</head>
		
<%= render :partial => 'header' %>
	
<div id="content">
	<div class="contentBox">		
	
		<p style="color: green"><%= flash[:notice] %></p>
		<!--	<div class="flash">## flash ##</div> -->

		<%= yield  %>

	</div>
</div>
	
<%= render :partial => 'footer' %>