<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
 
    <title>clip'd: <%= controller.action_name %></title>
	
	<%= render :partial => 'includes' %>

</head>

<body>

<div id="canvas">

<div id="content">	
	<% if flash[:notice] %>
	<div id="flash"><%= image_tag 'icons/info.png' %> <p><%= flash[:notice] %></p></div>
	<% end %>
		
	<%= yield  %>

</div>
	
<%= render :partial => 'footer' %>

</div>
</body>
</html>